<mat-list *ngFor="let category of (buyItemsByCategories|keys)">
    <h3 md-subheader>{{category}}</h3>
    <mat-list-item *ngFor="let buyItem of buyItemsByCategories[category]">
        <mat-icon md-list-icon matTooltip="{{buyItem.item.category.title}}" [matTooltipPosition]="above">{{buyItem.item.category.icon}}</mat-icon>
        <h4 md-line>{{buyItem.item.title}}</h4>
        <p md-line> {{buyItem.quantity}}{{buyItem.item.dimension}}</p>
        <div class="buttons" style="float: right;">
            <button mat-icon-button type="button" (click)="onBoughtButtonClick(buyItem)">
                <mat-icon>check</mat-icon>
            </button>
        </div>
    </mat-list-item>
    <mat-divider></mat-divider>
</mat-list>