<form (submit)="onSubmit()" #ingredientForm="ngForm">
    <div class="row">
        <div class="col-md-6 text-input-block">
            <mat-form-field class="example-full-width">
                <label for="title"></label>
                <input id="title" matInput type="text" name="title" placeholder="Название ингредиента?"
                       floatingPlaceholder="false" maxlength="100" [(ngModel)]="ingredient.title">
            </mat-form-field>
        </div>
        <div class="col-md-3" style="padding-top: 1.9em">
            <mat-select id="dimension" placeholder="Размероность" #dimension [(ngModel)]="ingredient.dimension"
                       name="dimension">
                <mat-option *ngFor="let dimension of dimensions" [value]="dimension.value">
                    {{ dimension.title }}
                </mat-option>
            </mat-select>
        </div>
        <div class="col-md-3" style="padding-top: 1.5em">
            <button type="submit" md-raised-button id="addButton">
                <mat-icon class="material-icons">check</mat-icon>
                Добавить
            </button>
        </div>
    </div>
</form>