<form (submit)="onSubmit()" #challengeForm="ngForm">
    <div class="row">
        <div class="col-md-4 text-input-block" style="padding-top: 1.5em">
            <mat-select id="dayOfweek" placeholder="Задачи" #select [(ngModel)]="challenge.tasks"
                       name="tasks" [multiple]="true">
                <mat-option *ngFor="let task of tasks" [value]="task.id">
                    {{ task.title }}
                </mat-option>
            </mat-select>
        </div>
        <div class="col-md-4">
            <mat-form-field class="example-fill-space">
                <label for="begin">Начало</label>
                <input type="date" matInput name="begin" [(ngModel)]="challenge.begin" id="begin">
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="example-fill-space">
                <label for="end">Окончание</label>
                <input type="date" matInput name="end" [(ngModel)]="challenge.end" id="end">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <mat-form-field class="example-fill-space">
                <label for="award">Награда</label>
                <input type="text" matInput name="award" [(ngModel)]="challenge.award" id="award">
            </mat-form-field>
        </div>
        <div class="col-md-3" style="padding-top: 1.5em">
            <button type="submit" md-raised-button id="addButton">
                <!--<mat-icon class="material-icons">check</mat-icon>-->
                Добавить
            </button>
        </div>
    </div>
</form>