<div class="row">
    <div class=" col-md-offset-9 col-md-3" style="padding-top: 1.5em">
        <button type="button" md-raised-button id="addButton" (click)="onSwitchErrorFormStateButtonClick()">
            <mat-icon class="material-icons">check</mat-icon>
            {{isFormShown ? 'Закрыть' : 'Добавить'}}
        </button>
    </div>
</div>
<div class="error-form" *ngIf="isFormShown">
    <app-errors-extended-form (created)="onErrorCreate($event)" [error]="newError"></app-errors-extended-form>
</div>
<br>
<hr>

<div id="errors-list" *ngIf="errors.length > 0">
    <app-errors-list [errors]="errors"></app-errors-list>
</div>