<form (submit)="onSubmit()" #recipeForm="ngForm">
    <div class="row">
        <div class="col-md-6">
            <mat-select placeholder="" name="ingredient" [(ngModel)]="ingredientData.ingredient">
                <mat-option *ngFor="let ingredient of ingredients" [value]="ingredient">
                    {{ ingredient.title }}
                </mat-option>
            </mat-select>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <input matInput type="number" name="ingredientsCount" [(ngModel)]="ingredientData.count">
            </mat-form-field>
        </div>
        <div class="dimension col-md-1">
            <span *ngIf="ingredientData.ingredient">
                {{ingredientData.ingredient.dimension}}
            </span>
        </div>
        <div class="col-md-2">
            <button type="submit" md-icon-button id="addButton">
                <mat-icon class="material-icons">add</mat-icon>
            </button>
        </div>
    </div>
</form>