<form (submit)="onSubmit()" #recipeForm="ngForm">
    <div class="row">
        <div class="col-md-6">
            <md-select placeholder="" name="ingredient" [(ngModel)]="ingredientData.ingredient">
                <md-option *ngFor="let ingredient of ingredients" [value]="ingredient">
                    {{ ingredient.title }}
                </md-option>
            </md-select>
        </div>
        <div class="col-md-3">
            <md-input-container>
                <input mdInput type="number" name="ingredientsCount" [(ngModel)]="ingredientData.count">
            </md-input-container>
        </div>
        <div class="dimension col-md-1">
            <span *ngIf="ingredientData.ingredient">
                {{ingredientData.ingredient.dimension}}
            </span>
        </div>
        <div class="col-md-2">
            <button type="submit" md-icon-button id="addButton">
                <md-icon class="material-icons">add</md-icon>
            </button>
        </div>
    </div>
</form>