<div class="ui basic modal">
    <i class="close icon"></i>
    <div class="ui icon header">
        <i class="{{ modal.title }} icon"></i>
        {{ modal.icon }}
    </div>
    <div class="content">
        <p>{{ modal.body }}</p>
    </div>
    <div class="actions">
        <div class="ui  red basic cancel inverted button">
            <i class="remove icon"></i>
            No
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Yes
        </div>
    </div>
</div>