md-input-container {
    width: 100%;
}
.hide-button-container {
    float: right;
}
.empty-intervals {
    margin-top: 0.5em;
}
.empty-interval {
    background-color: #cdcdcd;
    margin: 0 0.5em;
    padding: 0.5em;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.empty-interval:hover {
    background-color: #eaeaea;
    cursor: pointer;
}