<form (submit)="onSubmit()" #periodForm="ngForm">
    <div class="row">
        <div class="col-md-2">
            <md-input-container class="example-full-width">
                <input mdInput type="time" [(ngModel)]="period.begin"
                       name="begin" class="validate" id="begin" required>
                <label for="begin"></label>
            </md-input-container>
        </div>
        <div class="col-md-2">
            <md-input-container class="example-full-width">
                <input mdInput type="time" name="end" [(ngModel)]="period.end" class="validate" id="end" required>
                <label for="end"></label>
            </md-input-container>
        </div>
        <div class="col-md-5 text-input-block">
            <md-input-container class="example-full-width">
                <label for="description"></label>
                <input maxlength="100" floatingPlaceholder="false" mdInput type="text"
                       [(ngModel)]="period.description"
                       name="description" id="description" placeholder="Что будем делать?"
                       required>
            </md-input-container>
        </div>
        <div class="col-md-2" style="padding-top: 1.5em">
            <button *ngIf="!isEdit" type="submit" md-raised-button>
                <md-icon class="material-icons">check</md-icon>
                Добавить
            </button>
            <button *ngIf="isEdit" type="submit" md-raised-button>
                <md-icon class="material-icons">mode_edit</md-icon>
                Изменить
            </button>
        </div>
    </div>
</form>
<div class="empty-intervals" *ngIf="periods != undefined">
        <span *ngFor="let emptyInterval of emptyIntervals" (click)="onEmptyIntervalClick(emptyInterval)"
              class="empty-interval">
            {{ emptyInterval.begin | date:'HH:mm'}} - {{ emptyInterval.end | date:'HH:mm'}}
        </span>
</div>
