<div class="ui text container piled segment">
    <h1 class="ui center aligned icon header">
        <i class="tasks circular icon"></i>
        <div class="content">
            {{ title }}
        </div>
    </h1>
    <div class="">
        <div id="form">
            <task-form (created)="onTaskCreated($event)"></task-form>
        </div>
        <div id="list">
            <task-list [tasks] = "tasks"  (deleted)="onTaskDeleted($event)"></task-list>
        </div>
        <div id="loadDimmer" class="ui active inverted dimmer">
            <div class="ui medium text loader">Обработка</div>
        </div>
    </div>
</div>
