<form (submit)="onSubmit()" #taskForm="ngForm">
    <div class="row">
        <div class="col-md-12 text-input-block">
            <mat-form-field class="example-full-width">
                <label for="title"></label>
                <input id="title" matInput type="text" name="title" placeholder="Что нужно сделать?"
                       floatingPlaceholder="false" maxlength="100" [(ngModel)]="task.title">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <mat-form-field class="example-fill-space">
                <label for="date">Дата</label>
                <input type="date" matInput name="date" [(ngModel)]="date" id="date">
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="example-fill-space">
                <label for="deadline">Крайний срок</label>
                <input type="date" matInput name="deadline" [(ngModel)]="deadline" id="deadline">
            </mat-form-field>
        </div>
        <div class="col-md-3"  style="padding-top: 1.5em">
            <button type="submit" md-raised-button id="addButton">
                <mat-icon class="material-icons">check</mat-icon>
                Добавить
            </button>
        </div>
    </div>
</form>