<div class="form-horizontal">
  <div class="form-group">
    <label for="beginTime" class="col-sm-2 control-label">Дата начала</label>
    <div class="col-sm-2">
      <input type="time" class="form-control" id="beginTime" value="8:00" placeholder="Дата начала">
    </div>
    <div class="col-sm-8"></div>
  </div>
  <div class="form-group">
    <label for="description" class="col-sm-2 control-label">Описание</label>
    <div class="col-sm-8">
      <textarea class="form-control" id="description" placeholder="Описание дня грядущего"></textarea>
    </div>
      <div class="col-sm-2"></div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" class="btn btn-primary">
        Сохранить
      </button>
    </div>
  </div>
</div>