<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <mat-tab-group>
            <mat-tab label="Расписание">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <period-form [periods]="periods" (created)="onPeriodCreated($event)"></period-form>
                        <period-list [periods]="periods" (removed)="onPeriodRemoved($event)"
                                     (changed)="onPeriodChanged($event)"></period-list>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Задачи">
                <br>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="completed-task-days-block" *ngIf="completedDayNumber > 0">
                            <span class="completed-task-days-number">{{completedDayNumber}}</span>
                            {{getDaysString()}} подряд выполнены все задачи.
                        </div>
                        <div *ngIf="tasks.length > 0 && tasksLinesLengths">
                            <task-list [date]="date" [lineLengths]="tasksLinesLengths" [taskEntries]="tasks"
                                       (deleted)="onTaskDeleted($event)"
                                       (edited)="onTaskEdited($event)"></task-list>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>