<md-toolbar color="primary">
  <md-menu #appMenu="mdMenu">
    <button md-menu-item><a routerLink="/schedule">Расписание</a></button>
    <button md-menu-item><a routerLink="/tasks">Задачи</a></button>
  </md-menu>
  <button md-icon-button [mdMenuTriggerFor]="appMenu">
    <md-icon>more_vert</md-icon>
  </button>
  <span>Application Title</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span>Right Aligned Text</span>
</md-toolbar>