<div class="ui basic modal">
    <h1 class="ui icon header">
        <i class="{{ modal.icon }} icon"></i>
        {{ modal.title }}
    </h1>
    <div class="ui small content" style="text-align: center;">
        <p>{{ modal.body }}</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted large button">
            <i class="remove icon"></i>
            Нет
        </div>
        <div class="ui green ok inverted large button">
            <i class="checkmark icon"></i>
            Да
        </div>
    </div>
</div>