<form (submit)="onSubmit()" #recipeForm="ngForm">
  <div class="row">
    <div class="col-md-12 text-input-block">
      <md-input-container class="example-full-width">
        <label for="title"></label>
        <input id="title" mdInput type="text" name="title" placeholder="Название"
               floatingPlaceholder="false" maxlength="100" [(ngModel)]="recipe.title">
      </md-input-container>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <md-input-container class="example-full-width">
        <label for="description">Описание</label>
        <textarea id="description" #description mdInput type="text" name="description" floatingPlaceholder="false" maxlength="1000" [(ngModel)]="recipe.description"></textarea>
        <md-hint align="end">{{description.value.length}} / 1000</md-hint>
      </md-input-container>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-ingredient-data-list [ingredientsData]="recipe.ingredientsData"></app-ingredient-data-list>
      <app-ingredient-data-form *ngIf="isDisplayForm" (created)="onIngredientDataCreated()"></app-ingredient-data-form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <md-select id="dish" placeholder="" name="dayOfWeek" [(ngModel)]="recipe.dish">
        <md-option *ngFor="let dish of dishesList" [value]="dish">
          {{ dish.title }}
        </md-option>
      </md-select>
    </div>
    <div class="col-md-3 col-md-offset-3"  style="padding-top: 1.5em">
      <button type="submit" md-raised-button id="addButton">
        <md-icon class="material-icons">check</md-icon>
        Добавить
      </button>
    </div>
  </div>
</form>