<mat-sidenav-container class="example-container" fullscreen>
    <mat-toolbar color="primary">
        <mat-menu></mat-menu>
        <button md-icon-button (click)="sidenav.open()" *ngIf="isAuthorized()">
            <mat-icon>more_vert</mat-icon>
        </button>
        <span>Превозмогание</span>
        <span class="example-spacer"></span>
        <span class="escape-button" *ngIf="isAuthorized()" (click)="onEscape()">Выход</span>

        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space"></span>
    </mat-toolbar>
    <div class="left-strip" (mouseenter)="sidenav.open()"></div>
    <mat-sidenav #sidenav class="example-sidenav" (mouseleave)="sidenav.close()">
        <a md-menu-item routerLink="/schedule">Главная</a>
        <a md-menu-item routerLink="/tasks">Задачи</a>
        <a md-menu-item routerLink="/errors">Ошибки</a>
        <a md-menu-item routerLink="/listeners">Слушатели</a>
        <a md-menu-item routerLink="/notes">Заметки</a>
        <a md-menu-item routerLink="/food">Питание</a>
        <a md-menu-item routerLink="/challenges">Испытания</a>
        <a md-menu-item routerLink="/store/items">Хранилище</a>
    </mat-sidenav>

    <div class="container main-container">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
    <simple-notifications [options]="options"></simple-notifications>

</mat-sidenav-container>
