<md-sidenav-container class="example-container" fullscreen>
    <md-toolbar color="primary">
        <md-menu></md-menu>
        <button md-icon-button (click)="sidenav.open()">
            <md-icon>more_vert</md-icon>
        </button>
        <span>Превозмогание</span>
        <span class="example-spacer"></span>
        <span *ngIf="isAuthorized()" (click)="onEscape()">Выход</span>

        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space"></span>
    </md-toolbar>
    <div class="left-strip" (mouseenter)="sidenav.open()"></div>
    <md-sidenav #sidenav class="example-sidenav" (mouseleave)="sidenav.close()">
        <a md-menu-item routerLink="/schedule">Расписание</a>
        <a md-menu-item routerLink="/tasks">Задачи</a>
        <a md-menu-item routerLink="/errors">Ошибки</a>
        <a md-menu-item routerLink="/listeners">Слушатели</a>
        <a md-menu-item routerLink="/notes">Заметки</a>
        <a md-menu-item routerLink="/food">Питание</a>
    </md-sidenav>

    <div class="container main-container">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</md-sidenav-container>