<h2 class="center text-center main-title">
    {{ title }}
</h2>
<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <md-form-field>
            <label for="date"></label>
            <input [mdDatepicker]="datePicker" mdInput name="date" (click)="datePicker.open()" id="date" required>
            <md-datepicker-toggle mdSuffix [for]="datePicker"></md-datepicker-toggle>
        </md-form-field>
        <md-datepicker #datePicker (selectedChanged)="onChange($event)"></md-datepicker>
    </div>
</div>

<router-outlet></router-outlet>
