<div class="row">
    <div class="col-md-8">
        {{listener.event}}
        <ul>
            <li *ngFor="let action of listener.actions">
                {{ action }}
            </li>
        </ul>
    </div>
    <div class="col-md-4 buttons">
        <button md-icon-button type="button" (click)="editListener()">
            <mat-icon>mode_edit</mat-icon>
        </button>
        <button md-icon-button type="button" (click)="deleteListener()">
            <mat-icon>delete_forever</mat-icon>
        </button>
    </div>
</div>