<form (submit)="onSubmit()" #loginForm="ngForm">
    <div class="row">
        <div class="col-md-4 text-input-block">
            <md-input-container class="example-full-width">
                <label for="title"></label>
                <input id="title" mdInput type="text" name="title" placeholder="Логин"
                       floatingPlaceholder="false" maxlength="100" [(ngModel)]="user.login">
            </md-input-container>
        </div>
        <div class="col-md-5 text-input-block">
            <md-input-container class="example-full-width">
                <label for="password"></label>
                <input id="password" mdInput type="text" name="login" placeholder="Пароль"
                       floatingPlaceholder="false" maxlength="100" [(ngModel)]="user.password">
            </md-input-container>
        </div>
        <div class="col-md-3" style="padding-top: 1.5em">
            <button type="submit" md-raised-button id="addButton">
                <md-icon class="material-icons">check</md-icon>
                Добавить
            </button>
        </div>
    </div>
</form>