<form (submit)="onSubmit()" #form="ngForm">
    <div class="row">
        <div class="col-md-6">
            <md-input-container class="example-full-width">
                <label for="title"></label>
                <input id="title" mdInput type="text" name="title" placeholder="Что нужно сделать?"
                       floatingPlaceholder="false" maxlength="100" [(ngModel)]="task.title" required>
            </md-input-container>
        </div>
        <div class="col-md-3">
            <md-select placeholder="" #select (change)="onDayOfWeekInputChange($event)" name="dayOfWeek">
                <md-option *ngFor="let dayOfWeek of daysOfWeek" [value]="dayOfWeek.value">{{ dayOfWeek.name }}</md-option>
            </md-select>
        </div>
        <div class="col-md-3" style="padding-top: 1.5em">
            <button type="submit" md-raised-button id="addButton">
                <md-icon class="material-icons">check</md-icon>
                Добавить
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <md-input-container class="example-fill-space">
                <label for="beginDate"></label>
                <input type="date" mdInput name="beginDate" [(ngModel)]="task.beginDate" id="beginDate" required>
            </md-input-container>
        </div>
        <div class="col-md-4">
            <md-input-container class="example-fill-space">
                <label for="endDate"></label>
                <input type="date" mdInput name="endDate" [(ngModel)]="task.endDate" id="endDate" required>
            </md-input-container>
        </div>
        <div class="col-md-2">
            <md-input-container class="example-full-width">
                <input mdInput type="time" [(ngModel)]="task.beginTime"
                       name="begin" class="validate" id="beginTime" required>
                <label for="beginTime"></label>
            </md-input-container>
        </div>
        <div class="col-md-2">
            <md-input-container class="example-full-width">
                <input mdInput type="time" name="endTime" [(ngModel)]="task.endTime" class="validate" id="endTime" required>
                <label for="end"></label>
            </md-input-container>
        </div>
    </div>
</form>
<div id="chosenDaysOfWeek">
    <span class="day-of-week-abr" *ngFor="let dayOfWeek of task.daysOfWeek">
        {{ getAbbreviation(dayOfWeek) }}
    </span>
</div>