<form (submit)="onSubmit()" #form="ngForm">
    <div class="row">
        <div class="col-md-12">
            <md-form-field class="example-full-width">
                <label for="title">Что нужно сделать?</label>
                <input id="title" mdInput type="text" name="title" (keyup)="onTaskTitleChanged()"
                       floatingPlaceholder="false" maxlength="100" [(ngModel)]="task.title" required>
            </md-form-field>

            <md-autocomplete>
                <md-option *ngFor="let option of filteredOptions"  [value]="option.title">
                    {{ option.title }}
                </md-option>
            </md-autocomplete>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <md-select id="dayOfweek" placeholder="День недели" #select [(ngModel)]="task.condition.daysOfWeek"
                       name="dayOfWeek" [multiple]="true">
                <md-option *ngFor="let dayOfWeek of daysOfWeek" [value]="dayOfWeek.value">
                    {{ dayOfWeek.name }}
                </md-option>
            </md-select>
        </div>
        <div class="col-md-4">
            <md-select id="frequency" placeholder="Частота" #weekFrequency [(ngModel)]="task.condition.weekFrequency"
                       name="weekFrequency">
                <md-option *ngFor="let frequency of weekFrequencyData" [value]="frequency.value">
                    {{ frequency.name}}
                </md-option>
            </md-select>
        </div>
        <div class="col-md-4">
            <md-select id="deadline" placeholder="Дедлайн" [(ngModel)]="task.condition.daysBeforeDeadline" name="deadline">
                <md-option *ngFor="let deadlineString of deadlineStringList" [value]="deadlineString.value">
                    {{ deadlineString.title}}
                </md-option>
            </md-select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <md-form-field class="example-fill-space">
                <label for="beginDate"></label>
                <input type="date" mdInput name="beginDate" [(ngModel)]="task.condition.beginDate" id="beginDate" required>
            </md-form-field>
        </div>
        <div class="col-md-4">
            <md-form-field class="example-fill-space">
                <label for="endDate"></label>
                <input type="date" mdInput name="endDate" [(ngModel)]="task.condition.endDate" id="endDate" required>
            </md-form-field>
        </div>
        <div class="col-md-2">
            <md-form-field class="example-full-width">
                <input mdInput type="time" [(ngModel)]="task.beginTime"
                       name="begin" class="validate" id="beginTime">
                <label for="beginTime"></label>
            </md-form-field>
        </div>
        <div class="col-md-2">
            <md-form-field class="example-full-width">
                <input mdInput type="time" name="endTime" [(ngModel)]="task.endTime" class="validate" id="endTime">
                <label for="endTime"></label>
            </md-form-field>
        </div>
    </div>
    <md-checkbox name="newTasksCreate" [(ngModel)]="task.condition.newTasksCreate">Создать задачу создания новых повторяющихся задач?
    </md-checkbox>
    <div class="col-md-3 col-md-offset-9" style="padding-top: 1.5em">
        <button type="submit" md-raised-button id="addButton">
            <md-icon class="material-icons">check</md-icon>
            Добавить
        </button>
    </div>
</form>