.task-item-row {

}
.task-desc {
    padding: 0.5em 0;
    border-bottom: 1px dotted #cccccc;
}
.task-completed {
    text-decoration: line-through;
}
.buttons {
    display: inline-block;
    float: right;
}