<div class="row task-item-row">
    <div class="col-md-8 task-desc" [class.task-completed]="taskEntry.isCompleted">{{ taskEntry.task.title }}
        <span class="time" *ngIf="taskEntry.task.beginTime || taskEntry.task.endTime">
            {{'(' +  (taskEntry.task.beginTime ? taskEntry.task.beginTime : '') + ' - ' + (taskEntry.task.endTime ? taskEntry.task.endTime : '') + ')'}}
        </span>
        <span class="line-length-block" *ngIf="lineLength && lineLength > 0" mdTooltip="{{getTooltipText(lineLength)}}">
            {{lineLength}}
        </span>
    </div>
    <div class="buttons col-md-4">
        <button *ngIf="!taskEntry.isCompleted" md-icon-button type="button" (click)="confirm()">
            <md-icon>check</md-icon>
        </button>
        <button md-icon-button type="button" (click)="deleteTask()">
            <md-icon>delete_forever</md-icon>
        </button>
        <button md-icon-button type="button" (click)="moveTask()" *ngIf="isDisplayMoveButton()">
            <md-icon>find_replace</md-icon>
        </button>
    </div>
</div>