<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-7 text-input-block">
        <md-input-container class="example-full-width">
          <label for="description"></label>
          <input maxlength="50" floatingPlaceholder="false" md-input type="text"
                 name="description" id="description" placeholder="Что будем делать?" #description>
        </md-input-container>
      </div>
      <div class="col-md-2">
        <md-input-container class="example-full-width">
          <input md-input type="time" name="duration" class="validate" id="duration" #duration>
          <label for="duration"></label>
        </md-input-container>
      </div>
      <div class="col-md-3" style="padding-top: 1.5em">
        <button md-raised-button (click)="create(duration.value, description.value); description.value = ''; duration.value = '';">
          <md-icon class="material-icons">check</md-icon>Добавить
        </button>
      </div>
    </div>
  </div>
</div>