<div class="row">
  <div class="input-field col s6">
    <label for="description"></label>
    <md-input #description placeholder="Что будем делать?"></md-input>
    <input type="text" name="description" id="description" placeholder="Что будем делать?" #description>
  </div>
</div>
<div class="row">
  <div class="col s4">
    <div class="input-field inline">
      <input type="time" name="duration" class="validate" id="duration" #duration>
      <label for="duration"></label>
    </div>
  </div>
  <div class="col s8">
    <div class="row"></div>
    <div class="row">
      <button class="btn" (click)="create(duration.value, description.value); description.value = ''; duration.value = '';" md-icon-button>
        <i class="material-icons">note_add</i>Добавить
      </button>
    </div>
  </div>
</div>
<div class="row"></div>
